@model Yom.Web.Models.YouOweMe.YouOweMeCreateModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.Single.Mobile.cshtml";
    ViewBag.PageId = "youOweMeCreate";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { data_ajax = "false" }))
{
    @Html.ValidationSummary(false)
    <div data-role="fieldcontain">
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)
        @*@Html.ValidationMessageFor(model => model.Description)*@
    </div>
    <div data-role="fieldcontain">
        @Html.LabelFor(model => model.Amount)
        @Html.EditorFor(model => model.Amount, new { type = "number" })
        @*@Html.ValidationMessageFor(model => model.Amount)*@

    </div>
    <div data-role="fieldcontain">
        @Html.LabelFor(model => model.ReferenceUser)
        
        @Html.DropDownListFor(model => model.ReferenceUser, (IEnumerable<SelectListItem>)ViewBag.ReferenceUsers, new {  id="ReferenceUser" })
        @*@Html.ValidationMessageFor(model => model.ReferenceId)*@
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
}
